<nav class="flex gap-4 align-center justify-center p-2 bg-zinc-100 shadow-xl shadow-zinc-200">
    <h1 class="p-2 text-2xl font-bold mr-auto underline">NOTEBOOK</h1>
    <a class="p-2 font-semibold hover:bg-gray-200 rounded-md hover:underline" href="<%=path%>"><%= pathName %></a>
</nav>